/*  IMPORTS  */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 20, ../sass/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

/* line 37, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 41, ../sass/_reset.scss */
ul, li {
  list-style-image: none;
  list-style-type: none;
}

/* line 46, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../sass/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: none;
}

/* change colours to suit your needs */
/* line 67, ../sass/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 74, ../sass/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 81, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 85, ../sass/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 90, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 96, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 105, ../sass/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 13, ../sass/_formalize.sass */
.input_tiny {
  width: 50px;
}

/* line 16, ../sass/_formalize.sass */
.input_small {
  width: 100px;
}

/* line 19, ../sass/_formalize.sass */
.input_medium {
  width: 150px;
}

/* line 22, ../sass/_formalize.sass */
.input_large {
  width: 200px;
}

/* line 25, ../sass/_formalize.sass */
.input_xlarge {
  width: 250px;
}

/* line 28, ../sass/_formalize.sass */
.input_xxlarge {
  width: 300px;
}

/* line 31, ../sass/_formalize.sass */
.input_full {
  width: 100%;
}

/* line 36, ../sass/_formalize.sass */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 43, ../sass/_formalize.sass */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 47, ../sass/_formalize.sass */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 50, ../sass/_formalize.sass */
input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

/* line 57, ../sass/_formalize.sass */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd url(../img/button.png) repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px;
}

/* line 81, ../sass/_formalize.sass */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 86, ../sass/_formalize.sass */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/* line 124, ../sass/_formalize.sass */
input.placeholder-text,
textarea.placeholder-text,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 130, ../sass/_formalize.sass */
::-webkit-input-placeholder {
  color: #888888;
}

/* line 133, ../sass/_formalize.sass */
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1;
}

/* line 148, ../sass/_formalize.sass */
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  outline: 0;
}

/* line 160, ../sass/_formalize.sass */
select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 177, ../sass/_formalize.sass */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 192, ../sass/_formalize.sass */
.is_webkit select {
  background-image: url(../img/select_arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

/* line 200, ../sass/_formalize.sass */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 206, ../sass/_formalize.sass */
.is_webkit select[multiple] {
  background-image: none;
  padding: 0;
}

/* line 210, ../sass/_formalize.sass */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 216, ../sass/_formalize.sass */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}

/* line 244, ../sass/_formalize.sass */
.ie6_button,
* html button {
  background: #dddddd url(../img/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

/* line 256, ../sass/_formalize.sass */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 260, ../sass/_formalize.sass */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 272, ../sass/_formalize.sass */
* html select {
  margin-top: 1px;
}

/* line 275, ../sass/_formalize.sass */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 280, ../sass/_formalize.sass */
.ie6_input_disabled {
  background: #eeeeee;
}

/*  Custom Mixins  */
/*  Variables */
/* line 45, ../sass/_base.scss */
html, a {
  color: black;
}

/* Fonts */
@font-face {
  font-family: 'AcknowledgementMedium';
  src: url("../type/Acknowledgement-webfont.eot");
  src: url("../type/Acknowledgement-webfont.eot?#iefix") format("embedded-opentype"), url("../type/Acknowledgement-webfont.woff") format("woff"), url("../type/Acknowledgement-webfont.ttf") format("truetype"), url("../type/Acknowledgement-webfont.svg#AcknowledgementMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLTLight';
  src: url("../type/futuralt-light-webfont.eot");
  src: url("../type/futuralt-light-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futuralt-light-webfont.woff") format("woff"), url("../type/futuralt-light-webfont.ttf") format("truetype"), url("../type/futuralt-light-webfont.svg#FuturaLTLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLTCondensedLight';
  src: url("../type/futuralt-condensedlight-webfont.eot");
  src: url("../type/futuralt-condensedlight-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futuralt-condensedlight-webfont.woff") format("woff"), url("../type/futuralt-condensedlight-webfont.ttf") format("truetype"), url("../type/futuralt-condensedlight-webfont.svg#FuturaLTCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLTCondensed';
  src: url("../type/futuralt-condensed-webfont.eot");
  src: url("../type/futuralt-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futuralt-condensed-webfont.woff") format("woff"), url("../type/futuralt-condensed-webfont.ttf") format("truetype"), url("../type/futuralt-condensed-webfont.svg#FuturaLTCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLTRegular';
  src: url("../type/futuralt-webfont.eot");
  src: url("../type/futuralt-webfont.eot?#iefix") format("embedded-opentype"), url("../type/futuralt-webfont.woff") format("woff"), url("../type/futuralt-webfont.ttf") format("truetype"), url("../type/futuralt-webfont.svg#FuturaLTRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MidoMedium';
  src: url("../type/Mido-webfont.eot");
  src: url("../type/Mido-webfont.eot?#iefix") format("embedded-opentype"), url("../type/Mido-webfont.woff") format("woff"), url("../type/Mido-webfont.ttf") format("truetype"), url("../type/Mido-webfont.svg#MidoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BevanRegular';
  src: url("../type/Bevan-webfont.eot");
  src: url("../type/Bevan-webfont.eot?#iefix") format("embedded-opentype"), url("../type/Bevan-webfont.woff") format("woff"), url("../type/Bevan-webfont.ttf") format("truetype"), url("../type/Bevan-webfont.svg#BevanRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../type/BebasNeue-webfont.eot");
  src: url("../type/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../type/BebasNeue-webfont.woff") format("woff"), url("../type/BebasNeue-webfont.ttf") format("truetype"), url("../type/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LobsterTwoRegular';
  src: url("../type/LobsterTwo-Regular-webfont.eot");
  src: url("../type/LobsterTwo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../type/LobsterTwo-Regular-webfont.woff") format("woff"), url("../type/LobsterTwo-Regular-webfont.ttf") format("truetype"), url("../type/LobsterTwo-Regular-webfont.svg#LobsterTwoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LobsterTwoItalic';
  src: url("../type/LobsterTwo-Italic-webfont.eot");
  src: url("../type/LobsterTwo-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/LobsterTwo-Italic-webfont.woff") format("woff"), url("../type/LobsterTwo-Italic-webfont.ttf") format("truetype"), url("../type/LobsterTwo-Italic-webfont.svg#LobsterTwoItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LobsterTwoBold';
  src: url("../type/LobsterTwo-Bold-webfont.eot");
  src: url("../type/LobsterTwo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/LobsterTwo-Bold-webfont.woff") format("woff"), url("../type/LobsterTwo-Bold-webfont.ttf") format("truetype"), url("../type/LobsterTwo-Bold-webfont.svg#LobsterTwoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LobsterTwoBoldItalic';
  src: url("../type/LobsterTwo-BoldItalic-webfont.eot");
  src: url("../type/LobsterTwo-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/LobsterTwo-BoldItalic-webfont.woff") format("woff"), url("../type/LobsterTwo-BoldItalic-webfont.ttf") format("truetype"), url("../type/LobsterTwo-BoldItalic-webfont.svg#LobsterTwoBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("../type/League_Gothic-webfont.eot");
  src: url("../type/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../type/League_Gothic-webfont.woff") format("woff"), url("../type/League_Gothic-webfont.ttf") format("truetype"), url("../type/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChunkFiveRegular';
  src: url("../type/Chunkfive-webfont.eot");
  src: url("../type/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../type/Chunkfive-webfont.woff") format("woff"), url("../type/Chunkfive-webfont.ttf") format("truetype"), url("../type/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdBold';
  src: url("../type/CartoGothicStd-Bold-webfont.eot");
  src: url("../type/CartoGothicStd-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../type/CartoGothicStd-Bold-webfont.woff") format("woff"), url("../type/CartoGothicStd-Bold-webfont.ttf") format("truetype"), url("../type/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothicStdBook';
  src: url("../type/CartoGothicStd-Book-webfont.eot");
  src: url("../type/CartoGothicStd-Book-webfont.eot?#iefix") format("embedded-opentype"), url("../type/CartoGothicStd-Book-webfont.woff") format("woff"), url("../type/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("../type/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChaparralProRegular';
  src: url("../type/chaparralpro-regular-webfont.eot");
  src: local("?"), url("../type/chaparralpro-regular-webfont.woff") format("woff"), url("../type/chaparralpro-regular-webfont.ttf") format("truetype"), url("../type/chaparralpro-regular-webfont.svg#webfontExzYMOwM") format("svg");
  font-weight: normal;
  font-style: normal;
}

/****************************************************************/
/*************************             **************************/
/*********************     Main Styles     **********************/
/*************************             **************************/
/****************************************************************/
/* line 8, ../sass/style.scss */
body {
  overflow-y: scroll;
}

/* line 10, ../sass/style.scss */
body, li, a {
  font-family: "CartoGothicStdBold";
  color: #e5cac2;
}

/* line 14, ../sass/style.scss */
a, .trans {
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

/* line 21, ../sass/style.scss */
#background {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1260, color-stop(0%, #281f1e), color-stop(100%, #191413));
  background-image: -webkit-radial-gradient(50% 50%, #281f1e 0%, #191413 100%);
  background-image: -moz-radial-gradient(50% 50%, #281f1e 0%, #191413 100%);
  background-image: -o-radial-gradient(50% 50%, #281f1e 0%, #191413 100%);
  background-image: radial-gradient(50% 50%, #281f1e 0%, #191413 100%);
  z-index: -9999;
}
/* line 26, ../sass/style.scss */
#background #pattern_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=3);
  opacity: 0.03;
  background-image: url(../img/p-overlay.png);
}

/* line 35, ../sass/style.scss */
#main_wrapper {
  width: 960px;
  height: 100%;
  min-height: 680px;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  /*** Close Work Examples ***/
}
/* line 42, ../sass/style.scss */
#main_wrapper ul.nav {
  position: relative;
  top: 100px;
  left: 0px;
  bottom: 0px;
  right: 0px; 
  float: right;
  margin-right: 70px;
}
/* line 46, ../sass/style.scss */
#main_wrapper ul.nav > li {
  font-size: .9em;
  float: right;
}
/* line 50, ../sass/style.scss */
#main_wrapper ul.nav > li > a {
  display: block;
  padding: 10px 5px 5px;
  margin: 0 20px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
/* line 57, ../sass/style.scss */
#main_wrapper ul.nav > li > a.current, #main_wrapper ul.nav > li a:hover {
  border-bottom: 3px solid #e5cac2;
}
/* line 63, ../sass/style.scss */
#main_wrapper h1.name {
  position: absolute;
  top: 274px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 230px;
  height: 102px;
  font-size: 3.8em;
  line-height: .9em;
  text-align: center;
}
/* line 70, ../sass/style.scss */
#main_wrapper #left_bracket {
  width: 35px;
  height: 114px;
  position: absolute;
  top: 268px;
  left: 250px;
  bottom: 0px;
  right: 0px;
  background: url(../img/brackets.png) no-repeat 0 0;
}
/* line 76, ../sass/style.scss */
#main_wrapper ul.cats {
  position: absolute;
  top: 270px;
  left: 284px;
  bottom: 0px;
  right: 0px;
  width: 229px;
  height: 100px;
}
/* line 80, ../sass/style.scss */
#main_wrapper ul.cats > li {
  text-align: center;
  font-size: 1.0em;
  margin: 10px 0;
}
/* line 85, ../sass/style.scss */
#main_wrapper ul.cats > li > a {
  padding: 6px 20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 86, ../sass/style.scss */
#main_wrapper ul.cats > li > a:hover {
  font-size: 1.3em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 90, ../sass/style.scss */
#main_wrapper #exhibit {
  width: 230px;
  height: 230px;
  position: absolute;
  top: 200px;
  left: auto;
  bottom: auto;
  right: 15px;
  -moz-border-radius: 126px;
  -webkit-border-radius: 126px;
  -o-border-radius: 126px;
  -ms-border-radius: 126px;
  -khtml-border-radius: 126px;
  border-radius: 126px;
  background: transparent;
  border: 12px solid #e5cac2;
  text-align: center;
}
/* line 98, ../sass/style.scss */
#main_wrapper #exhibit > img#connor {
  position: absolute;
  top: 35px;
  left: 65px;
  bottom: 0px;
  right: 0px;
}
/* line 99, ../sass/style.scss */
#main_wrapper #exhibit > img#home {
  position: absolute;
  top: 45px;
  left: 55px;
  bottom: 0px;
  right: 0px;
  display: none;
}
/* line 100, ../sass/style.scss */
#main_wrapper #exhibit > img#info {
  position: absolute;
  top: 55px;
  left: 90px;
  bottom: 0px;
  right: 0px;
  display: none;
}
/* line 101, ../sass/style.scss */
#main_wrapper #exhibit > img#thoughts {
  position: absolute;
  top: 50px;
  left: 70px;
  bottom: 0px;
  right: 0px;
  display: none;
}
/* line 102, ../sass/style.scss */
#main_wrapper #exhibit > img#copywriter {
  position: absolute;
  top: 25px;
  left: 80px;
  bottom: 0px;
  right: 0px;
  display: none;
}
/* line 103, ../sass/style.scss */
#main_wrapper #exhibit > img#web {
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 0px;
  right: 0px;
  display: none;
}
/* line 104, ../sass/style.scss */
#main_wrapper #exhibit > img#design {
  position: absolute;
  top: 10px;
  left: 61px;
  bottom: 0px;
  right: 0px;
  display: none;
}
/* line 105, ../sass/style.scss */
#main_wrapper #exhibit > img#entreprenuer {
  position: absolute;
  top: 55px;
  left: 25px;
  bottom: 0px;
  right: 0px;
  display: none;
}
/* line 106, ../sass/style.scss */
#main_wrapper #exhibit > img#close {
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 0px;
  right: 0px;
  display: none;
  cursor: pointer;
}
/* line 108, ../sass/style.scss */
#main_wrapper #extender_bar {
  width: 150px;
  height: 12px;
  position: absolute;
  top: 320px;
  left: auto;
  bottom: auto;
  right: 265px;
  background: #e5cac2;
}
/* line 113, ../sass/style.scss */
#main_wrapper #extender_bar.shortened {
  width: 15px;
}
/* line 116, ../sass/style.scss */
#main_wrapper #right_bracket {
  width: 35px;
  height: 114px;
  position: absolute;
  top: 268px;
  left: auto;
  bottom: auto;
  right: 413px;
  background: url(../img/brackets.png) no-repeat -35px 0;
}
/* line 121, ../sass/style.scss */
#main_wrapper #right_bracket.retracted {
  right: 278px;
}
/* line 122, ../sass/style.scss */
#main_wrapper #work_examples {
  position: absolute;
  top: 30px;
  width: 630px;
  height: 630px;
  display: none;
  background: #191413;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #302927;
}
/* line 132, ../sass/style.scss */
#main_wrapper #work_examples #frame {
  width: 630px;
  height: 630px;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: none;
  overflow: hidden;
  background: transparent;
}
/* line 139, ../sass/style.scss */
#main_wrapper #work_examples #frame > img {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  float: left;
}
/* line 140, ../sass/style.scss */
#main_wrapper #work_examples #frame > img#taller {
  width: 630px;
  height: auto;
  top: 55px;
}
/* line 141, ../sass/style.scss */
#main_wrapper #work_examples #frame > img#tall {
  width: 630px;
  height: auto;
  top: 100px;
}
/* line 142, ../sass/style.scss */
#main_wrapper #work_examples #frame > img#large {
  width: 630px;
  height: auto;
  top: 120px;
}
/* line 143, ../sass/style.scss */
#main_wrapper #work_examples #frame > img#medium {
  width: 305px;
  height: auto;
  margin: 5px;
}
/* line 144, ../sass/style.scss */
#main_wrapper #work_examples #frame > img#small {
  width: 200px;
  height: auto;
  margin: 5px;
}
/* line 145, ../sass/style.scss */
#main_wrapper #work_examples #frame #details {
  position: absolute;
  top: 240px;
  left: 120px;
  bottom: 0px;
  right: 0px;
  background: rgba(53, 44, 42, 0.95);
  width: 390px;
  height: 110px;
  display: none;
  text-align: center;
  color: #eee5e2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #d1c5c1;
}
/* line 155, ../sass/style.scss */
#main_wrapper #work_examples #frame #details > h1 {
  position: relative;
  top: 20px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: 1.7em;
  color: inherit;
}
/* line 156, ../sass/style.scss */
#main_wrapper #work_examples #frame #details > h2 {
  position: relative;
  top: 25px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: .8em;
  color: inherit;
  font-family: "CartoGothicStdBook";
}
/* line 162, ../sass/style.scss */
#main_wrapper #work_examples #frame #details > a {
  font-family: "CartoGothicStdBook";
  position: relative;
  top: 35px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: 1.3em;
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
  z-index: 9999;
}
/* line 171, ../sass/style.scss */
#main_wrapper #work_examples #frame #details > a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 172, ../sass/style.scss */
#main_wrapper #work_examples #frame #details #outline {
  width: 370px;
  height: 90px;
  border: 2px solid #d1c5c1;
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 0px;
  right: 0px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 179, ../sass/style.scss */
#main_wrapper #work_examples #frame #details.small {
  width: 390px;
  height: 80px;
  position: absolute;
  top: 255px;
  left: 120px;
  bottom: 0px;
  right: 0px;
}
/* line 183, ../sass/style.scss */
#main_wrapper #work_examples #frame #details.small #outline.small {
  width: 370px;
  height: 60px;
}
/* line 186, ../sass/style.scss */
#main_wrapper #work_examples #frame.hidden {
  display: none;
}
/* line 187, ../sass/style.scss */
#main_wrapper #work_examples #innershadow {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 630px;
  height: 630px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px 1px inset;
}
/* line 193, ../sass/style.scss */
#main_wrapper #work_examples #arrow {
  width: 150px;
  height: 50px;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  z-index: 1;
}
/* line 194, ../sass/style.scss */
#main_wrapper #work_examples #arrow.up {
  position: absolute;
  top: -50px;
  left: 250px;
  bottom: 0px;
  right: 0px;
  background: url(../img/arrows.png) no-repeat 0 0;
}
/* line 198, ../sass/style.scss */
#main_wrapper #work_examples #arrow.down {
  position: absolute;
  top: 630px;
  left: 250px;
  bottom: 0px;
  right: 0px;
  background: url(../img/arrows.png) no-repeat 0 -50px;
}
/* line 202, ../sass/style.scss */
#main_wrapper #work_examples #arrow:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 205, ../sass/style.scss */
#main_wrapper .var_content {
  position: absolute;
  top: 185px;
  left: 150px;
  bottom: 0px;
  right: 0px;
  width: 390px;
  height: auto;
  font-family: "ChaparralProRegular";
  color: #e5cac2;
}
/* line 211, ../sass/style.scss */
#main_wrapper .var_content h1 {
  font-size: 1.5em;
  text-align: justify;
  position: relative;
  top: 95px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-weight: normal;
  color: rgba(229, 202, 194, 0.9);
  line-height: 1.3em;
}
/* line 219, ../sass/style.scss */
#main_wrapper .var_content h1 span.name {
  font-family: "ChunkFiveRegular";
  font-size: 1.1em;
  color: #e5cac2;
}
/* line 222, ../sass/style.scss */
#main_wrapper .var_content h2 {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 3px double rgba(229, 202, 194, 0.9);
  width: 390px;
  height: auto;
  font-weight: bold;
  padding-bottom: 5px;
  color: #e3c7be;
}
/* line 232, ../sass/style.scss */
#main_wrapper .var_content p {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: 1.1em;
  text-align: justify;
  font-weight: lighter;
  margin: 25px 5px;
  line-height: 1.4em;
  color: #e5cac2;
}
/* line 241, ../sass/style.scss */
#main_wrapper .var_content p.small {
  font-size: 1em;
}
/* line 243, ../sass/style.scss */
#main_wrapper .var_content span.underline {
  text-decoration: underline;
}
/* line 244, ../sass/style.scss */
#main_wrapper .var_content .center {
  text-align: center;
}
/* line 245, ../sass/style.scss */
#main_wrapper .var_content iframe {
  position: absolute;
  top: 150px;
  left: 115px;
}
/* line 246, ../sass/style.scss */
#main_wrapper .var_content a.linked {
  position: absolute;
  top: 120px;
  left: 142px;
  background: url("../img/linked.png") no-repeat;
  width: 105px;
  height: 30px;
}
/* line 253, ../sass/style.scss */
#main_wrapper .var_content a.linked:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 255, ../sass/style.scss */
#main_wrapper #info_icons {
  width: 280px;
  height: 30px;
  padding: 5px 55px;
  position: absolute;
  top: 435px;
  left: 150px;
  border-top: 3px double rgba(229, 202, 194, 0.9);
  border-bottom: 3px double rgba(229, 202, 194, 0.9);
}
/* line 265, ../sass/style.scss */
#main_wrapper #info_icons .icons {
  float: left;
  margin: 0px 5px;
  background: url("../img/info_icons.png") no-repeat;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: block;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 278, ../sass/style.scss */
#main_wrapper #info_icons .icons:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 280, ../sass/style.scss */
#main_wrapper #info_icons .icons#copy {
  background-position: 0 0;
}
/* line 281, ../sass/style.scss */
#main_wrapper #info_icons .icons#dev {
  background-position: -30px 0;
}
/* line 282, ../sass/style.scss */
#main_wrapper #info_icons .icons#des {
  background-position: -60px 0;
}
/* line 283, ../sass/style.scss */
#main_wrapper #info_icons .icons#ent {
  background-position: -90px 0;
}
/* line 284, ../sass/style.scss */
#main_wrapper #info_icons .icons#twit {
  background-position: -120px 0;
}
/* line 285, ../sass/style.scss */
#main_wrapper #info_icons .icons#linked {
  background-position: -150px 0;
}
/* line 286, ../sass/style.scss */
#main_wrapper #info_icons .icons#mail {
  background-position: -180px 0;
}

/*** Close #main_wapper ***/
